
<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>

		<ion-nav-bar class="bar-calm">
			<ion-nav-back-button>
			</ion-nav-back-button>

            <!-- Uncomment to start using the left menu.

			<ion-nav-buttons side="left">
				<button class="button button-icon button-clear ion-navicon" menu-toggle="left">
				</button>
			</ion-nav-buttons>

        -->
		</ion-nav-bar>


		<ion-nav-view name="menuContent"></ion-nav-view>


  </ion-side-menu-content>

  <ion-side-menu side="left" class="satio-side-menu">

    <ion-content class="menu-content">

        <!-- Uncoment and add links to any other views you want to set up in the left menu.

        <ion-list>

            <a class="item  menu-close" href="#/home" nav-transition="android">
		  <i class="ion-cube"></i>
          <span>Latests Blocks</span>
        </a>
        </ion-list>

        -->

        

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
