

$_black:  #323232; //rgba(50, 50, 50, 100)
$_red:    #f25f5c; //rgba(242, 95, 92, 100)
$_yellow: #ffe066; //rgba(255, 224, 102, 100)
$_blue:   #247ba0; //rgba(36, 123, 160, 100)
$_green:  #70c1b3; //rgba(112, 193, 179, 100)



$calm : $_black !default;
